@model IEnumerable<LabASPNET.Models.Order>

<h2>Список заказов</h2>

<form method="post" action="@Url.Action("EditOrder", "Orders")">
	@Html.AntiForgeryToken()
	<table class="table">
		<thead>
		<tr>
			<th>OrderId</th>
			<th>UserId</th>
			<th>ProductId</th>
			<th>Quantity</th>
			<th>OrderDate</th>
			<th>Actions</th>
		</tr>
		</thead>
		<tbody>
		@for (var i = 0; i < Model.Count(); i++)
		{
			<tr>
				<td>
					@Model.ElementAt(i).OrderId
					<input type="hidden" name="orders[@i].OrderId" value="@Model.ElementAt(i).OrderId" />
				</td>
				<td>
					<input type="number" name="orders[@i].UserId" value="@Model.ElementAt(i).UserId" class="form-control" />
				</td>
				<td>
					<input type="number" name="orders[@i].ProductId" value="@Model.ElementAt(i).ProductId" class="form-control" />
				</td>
				<td>
					<input type="number" name="orders[@i].Quantity" value="@Model.ElementAt(i).Quantity" class="form-control" />
				</td>
				<td>
					<input type="date" name="orders[@i].OrderDate" value="@Model.ElementAt(i).OrderDate.ToString("yyyy-MM-dd")" class="form-control" />
				</td>
				<td>
					<form method="post" action="@Url.Action("DeleteOrder", "Orders", new { id = Model.ElementAt(i).OrderId })" style="display:inline;">
						@Html.AntiForgeryToken()
						<button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this product?');">Удалить</button>
					</form>
				</td>
			</tr>
		}
		</tbody>
		</table>
	<button type="submit" class="btn btn-primary">Сохранить изменения</button>
</form>

<a href="@Url.Action("Create", "Orders")" class="btn btn-primary">Создать новый заказ</a>

