@model List<LabASPNET.Models.User>

<h2>Список пользователей</h2>

<form method="post" action="@Url.Action("EditTable", "Users")">
	@Html.AntiForgeryToken()
	<table class="table">
		<thead>
		<tr>
			<th>UserId</th>
				<th>Name</th>
			<th>Email</th>
			<th>RegistrationDate</th>
			<th>Actions</th>
		</tr>
		</thead>
		<tbody>
		@for (var i = 0; i < Model.Count; i++)
		{
			<tr>
				<td>@Model.ElementAt(i).UserId</td>
				<td>
					<input type="text" name="users[@i].Name" value="@Model[i].Name" class="form-control"/>
				</td>
				<td>
					<input type="email" name="users[@i].Email" value="@Model[i].Email" class="form-control"/>
				</td>
			<td>
					<input type="date" name="users[@i].RegistrationDate" value="@Model[i].RegistrationDate.ToString("yyyy-MM-dd")" class="form-control"/>
				</td>
				<td>
					<form method="post" action="@Url.Action("Delete", "Users", new { id = Model.ElementAt(i).UserId })" style="display:inline;">
						@Html.AntiForgeryToken()
						<button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this product?');">Удалить</button></form>
				</td>
			</tr>
		}
		</tbody>
	</table>
	<button type="submit" class="btn btn-primary">Сохранить изменения</button>
</form>

<a href="@Url.Action("Create", "Users")" class="btn btn-primary">Создать нового пользователя</a>